<style>
    body {
        border: 1px solid black;
        padding: 5%;
    }
</style>

{% block body %}
<h3>Add an Excuse</h3>

{{ form_start(form) }}
{{ form_row(form.http_code) }}
{{ form_row(form.message) }}
{% if error is defined %}
<p>{{ error }}</p>
{% endif %}
<p>Try to Escape me !</p>
<button type="submit" class="btn">Validate</button>
{{ form_end(form) }}

{% endblock %}