<form action="/add" method="post">
    <input type="text" name="message" placeholder="excuse message">
    <input type="text" name="http_code" placeholder="http_code">
    <button type="submit">Validate</button>
    {% if message is defined %}
    <p>{{ message }}</p>
    {% endif %}
</form>