<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/index.css">
    {% endblock %}
</head>

<body>
    {% block header %}{% include "layout/navBar.html.twig" %}{% endblock %}
    <div id="listExcuses">
        {% block body %}
        {% block titre %}<h1 style="text-align:center">Dev Excuses</h1>{% endblock titre %}
        {% if excuses is defined %}
        {% for excuse in excuses %}
        <div class="message">
            <p>{{ excuse.httpCode }}: {{ excuse.message }}</p>
        </div>
        {% block button %}{% endblock %}
        {% endfor %}
        {% endif %}
    </div>
    <button onclick="displayModal()" id="openOrClose" data-open="0">Add Excuse</button>
    <div id="myModal" style="display: none">
        <div>
            <iframe height="250px" width="15%" src="http://localhost:8000/add" frameborder="0"></iframe>
        </div>
    </div>

    {% block javascripts %}
    <script src="{{ asset('js/modal.js') }}"></script>
    {% endblock %}

    {% endblock %}
</body>

</html>