<style>
    * {
        text-align: center;
    }
</style>

<body>
    <img src="image/lost.gif" alt="gif lost">

    <script>
        setTimeout(() => {
            document.location.href = "http://localhost:8000/";
        }, 5000);
    </script>
</body>