<style>
    header {
        border: solid 1px black;
        padding: 1%;
        margin: 0 40%;
    }

    a {
        text-decoration: none;
        color: rgb(63, 2, 2);
        font-weight: bold;
        margin: 1%;
    }
</style>

<header>
    <a href="/">Excuses List</a>
    <a href="/random">Random Excuse</a>
</header>